{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 87vh;">
    <form method="post" class="w-100" style="max-width: 400px;">

        <h1 class="h3 mb-3 font-weight-normal text-center">Veuillez vous connecter</h1>

        <div class="mb-3 fs-5">
            <label for="username">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control form-control-xl" style="height: 55px;" autocomplete="email" required autofocus>
        </div>

        <div class="mb-3 fs-5">
            <label for="password">Mot de passe</label>
            <input type="password" name="_password" id="password" class="form-control form-control-xl" style="height: 55px;" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <input type="checkbox" name="_remember_me" id="_remember_me">
            <label for="_remember_me">Se souvenir de moi</label>
        </div>

        <button class="btn btn-lg btn-primary w-100 mb-3" type="submit">Se connecter</button>

        <p class="text-center">
            Vous n'avez pas encore de compte ? <a href="{{ path('app_register') }}">Inscrivez-vous ici</a>.
        </p>
    </form>
</div>
{% endblock %}
