:root {
    --dark-green: rgb(7, 109, 32);
    --sky-green: rgb(172, 222, 243);
}

body {
    background-image: linear-gradient(0deg, #a9c3a7 0%, #e7efe6 15%);

}

nav{
    background-color: white;
}

.navbar {
    background-color: white; 
}

.navbar-brand img {
    width: 50px;
    height: 50px;
}

.navbar-nav .nav-link,
.dropdown-menu .dropdown-item {
    color: var(--dark-green);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark-green);
}

.text-dark-green {
    color: var(--dark-green);
}

.dropdown-menu {
    background-color: white; 
}

.dropdown-item:hover {
    background-color: var(--dark-green);
    color: white;
}

.navbar-brand {
    display: flex; 
    align-items: center; 
}

footer {
    color: darkgreen;
    font-size: 1.25em; 
}

footer a {
    color: darkgreen;
    text-decoration: none; 
}

.card:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}

.nav-link {
    transition: text-decoration 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    text-decoration: underline; 
    color: #00008b; 
}



@media (max-width: 1200px) {
    nav {
        height: 400px;
    }
    .container-fluid.justify-content-between {
        background-color: white;
    }

}

